<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Nicepay spring-boot</title>
    <meta httpEquiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
<h1>NICEPAY TEST</h1>
<button onclick="serverAuth()">serverAuth 결제하기</button>

<script src="https://pay.nicepay.co.kr/v1/js/"></script>

<script>
    function serverAuth() {
      AUTHNICE.requestPay({
        clientId: 'S2_3084233975714f5097de55fd4a540e8c',
        method: 'card',
        orderId: '32',
        amount: 1004,
        goodsName: '나이스페이-상품',
        returnUrl: 'http://localhost:8080/serverAuth',
        fnError: function (result) {
          alert('개발자확인용 : ' + result.errorMsg + '')
        }
      });
    }
</script>
</body>

</html>