<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상점</title>
</head>
<body>
<h2>상점</h2>
<a th:href="@{/}">
    <button style="background-color: blue; color: white;">뒤로가기</button>
</a>

<a th:href="@{/itemadd}">
    <button style="background-color: blue; color: white;">상품 등록</button>
</a>
<table>
    <tr>
        <th>상세조회</th>
        <th>삭제</th>
    </tr>
    <tr th:each="item: ${itemlist}">
        <td th:text="${item.productName}"></td>
        <td>
            <a th:href="@{|/item/${item.id}|}">조회</a>
        </td>
        <td>
            <a th:href="@{|/delete/${item.id}|}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>
