
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

<h1>Join</h1>

<form id="joinForm" action="/join" method="POST" enctype="multipart/form-data">
    <label for="name">이름:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="email">메일:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">비번:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="file">파일 첨부:</label>
    <input type="file" id="file" name="file">
    <br>
    <button type="button" onclick="submitForm()">가입하기</button>
</form>

<script>
    function submitForm() {
        var form = document.getElementById('joinForm');
        var formData = new FormData(form);

        var data = {};
        formData.forEach(function(value, key){
            data[key] = value;
        });

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/join');
        xhr.onload = function() {
            if (xhr.status === 200) {
                // 전송 성공 시 메시지 출력 및 리다이렉트
                alert("오서오시게");
                window.location.href = "/";
            } else {
                // 전송 실패 시 폼 초기화
                form.reset();
                alert("이미 있는 계정입니다")
            }
        };
        xhr.send(formData);
    }
</script>

</body>
</html>